<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">
    <title>404 - Page Not Found</title>
</head>
<body class="notFound">
    <div class="page404">
        <h1 style="font-size: 200px; color: red; font-family: Audiowide;">404</h1>
        <h3 style="font-size: 80px; font-family: Audiowide;">PAGE NOT FOUND</h3>
        <button class="button404" onclick="window.location.href='/';">GO TO HOME</button>
    </div>
</body>
</html>